---
import Layout from "../layouts/Layout.astro";
import Hello from "../components/Hello.astro";
import FirstSvelteComponent from "../components/FirstSvelteComponent.svelte"
const greet = Astro.props.greet || "component";
---

<Layout title="Main page">
	<p>Welcome to the main page.</p>
<Hello greet={`property and ${3 + 5}`} /> 
<p>Hello {greet}!</p>
<FirstSvelteComponent />
</Layout>
