---
import Layout from "../layouts/Layout.astro";
//import Hello from "../components/Hello.astro";
---

<Layout title="Main page">
	<p>Welcome to the main page.</p>
<!--	<Hello greet={`property and ${3 + 5}`} /> -->
</Layout>