---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p>DAB!</p>
	<button id="btn">Add item</button>
	<ul id="list">
	</ul>

	<script>
		const btn = document.getElementById('btn');
		const list = document.getElementById('list');
		let count = 1;

		btn.addEventListener('click', async () => {
			const li = document.createElement('li');
			li.textContent = `Item ${count}`;
			list.appendChild(li);
			count++;
		});
	</script>
</Layout>