services:
  database:
    image: postgres:16-alpine
    env_file:
      - project.env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  migrations:
    image: flyway/flyway:10-alpine
    env_file:
      - project.env
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./database-migrations:/flyway/sql
    command: -url=jdbc:postgresql://database:5432/${POSTGRES_DB} -user=${POSTGRES_USER} -password=${POSTGRES_PASSWORD} -connectRetries=60 migrate

  server:
    build: server
    restart: unless-stopped
    volumes:
      - ./server:/app
    ports:
      - 8000:8000
    env_file:
      - project.env  
    environment:
      - DATABASE_URL=${DATABASE_URL}

  redis:
      image: redis:7.4.2
      command: redis-server /usr/local/etc/redis/redis.conf
      volumes:
        - ./redis/redis.conf:/usr/local/etc/redis/redis.conf    